server:
  port: 8080

spring:
  application:
    name: fabrick-interview-exercise

  datasource:
    url: jdbc:h2:mem:fabrick
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.H2Dialect

  cache:
    type: caffeine
    caffeine:
      spec: maximumSize=1000,expireAfterWrite=24h

nasa:
  api:
    key: DEMO_KEY

logging:
  level:
    com.fabrick: DEBUG
    org.springframework.web: INFO